<meta charset="utf-8">

<link href="/static/ace/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/ace/css/font-awesome.min.css" />

<!--[if IE 7]>
  <link rel="stylesheet" href="/static/ace/css/font-awesome-ie7.min.css" />
<![endif]-->

<!-- page specific plugin styles -->
<link rel="stylesheet" href="/static/ace/css/jquery-ui-1.10.3.full.min.css" />
<link rel="stylesheet" href="/static/ace/css/datepicker.css" />
<link rel="stylesheet" href="/static/ace/css/ui.jqgrid.css" />



<!-- ace styles -->

<link rel="stylesheet" href="/static/ace/css/ace.min.css" />
<link rel="stylesheet" href="/static/ace/css/ace-rtl.min.css" />
<link rel="stylesheet" href="/static/ace/css/ace-skins.min.css" />
<link rel='stylesheet' href="/static/css/jquery.jsonview.css"   />
<link rel='stylesheet' href='/static/css/style.css' />

<!--[if lte IE 8]>
  <link rel="stylesheet" href="/static/ace/css/ace-ie.min.css" />
<![endif]-->

<!-- inline styles related to this page -->
<!--[if !IE]> -->

<script type="text/javascript">
	window.jQuery || document.write("<script src='/static/ace/js/jquery-2.0.3.min.js'>"+"<"+"script>");
</script>
<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='/static/ace/js/jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<![endif]-->
 
<script src="/static/ace/js/jquery.slimscroll.min.js"></script>
<script src="/static/ace/js/jquery.easy-pie-chart.min.js"></script>
<script src="/static/ace/js/jquery.sparkline.min.js"></script>
<script src="/static/ace/js/flot/jquery.flot.min.js"></script>
<script src="/static/ace/js/flot/jquery.flot.pie.min.js"></script>
<script src="/static/ace/js/flot/jquery.flot.resize.min.js"></script>

<!-- ace settings handler -->

<script src="/static/ace/js/ace-extra.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
<script src="/static/ace/js/html5shiv.js"></script>
<script src="/static/ace/js/respond.min.js"></script>
<![endif]-->



<script type="text/javascript">
	if("ontouchend" in document) document.write("<script src='/static/ace/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
</script>
<script src="/static/ace/js/bootstrap.min.js"></script>
<script src="/static/ace/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->
<script src="/static/ace/js/jquery-ui-1.10.3.full.min.js"></script>
<script src="/static/ace/js/jquery.ui.touch-punch.min.js"></script>
<script src="/static/ace/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/static/ace/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="/static/ace/js/jqGrid/i18n/grid.locale-en.js"></script>


<!--[if lte IE 8]>
  <script src="/static/ace/js/excanvas.min.js"></script>
<![endif]-->


<!-- ace scripts -->

<script src="/static/ace/js/ace-elements.min.js"></script>
<script src="/static/ace/js/ace.min.js"></script>

<script src="/static/js/jquery.jsonview.js"   ></script>
<script src="/static/js/my.js"   ></script>
<script src="/static/js/bootstrapLoading.js"   ></script>
<script src="/static/js/md5.js"   ></script>
<script src="/static/js/bootstrap-typeahead.js"></script>
<!--  <script src="/static/js/json2.js"></script>-->